.auction-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0;

  @include respond(big-desktop) {
  }
  @include respond(normal-desktop) {
  }
  @include respond(small-desktopl) {
  }
  @include respond(tab-land) {
  }
  @include respond(mini-desktop) {
  }
  @include respond(tab-port) {
    flex-direction: column;
    padding: 0.8rem 1rem;
  }
  @include respond(phone) {
  }
  @include respond(phone-small) {
  }
}
.auction-box {
  border: 1px solid $color-black;
  width: 30%;
  border: 1px solid $color-primary;
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: -5px 5px 3px 0px $color-grey-dark-2;
  margin: 1.5rem 0;
  backface-visibility: hidden;
  border-radius: 5px;

  transition: 0.3s all;

  @include respond(big-desktop) {
  }
  @include respond(normal-desktop) {
  }
  @include respond(small-desktopl) {
  }
  @include respond(tab-land) {
  }
  @include respond(mini-desktop) {
  }
  @include respond(tab-port) {
    width: 100%;
    margin: 0.5rem 0;
    // padding: 2rem 2rem 2rem 0rem;
  }
  @include respond(phone) {
  }
  @include respond(phone-small) {
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: -5px 8px 10px 5px rgba($color-grey-dark-2, 0.8);
    background: $color-primary-dark;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;

    & > .auction-box__data {
      filter: brightness(0);
      // & .auction-box__data-title {
      //   color: white;
      // }
      & > .auction-box__data-cta::before {
        right: 0;
        width: 100%;
        opacity: 1;
        bottom: 0;
      }
    }
    & > .auction-box__icon {
      filter: brightness(0);
    }
    // & > .auction-box__icon {
    //   // filter: drop-shadow(0px 0px 2px black);
    // }
  }

  &__data {
    line-height: 3rem;

    &-title {
      font-size: 2.5rem;
      cursor: pointer;
    }
    &-number {
      font-size: 2.5rem;
      cursor: pointer;
      & > span {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    &-cta {
      width: fit-content;
      color: $color-primary;
      position: relative;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 0px;
        height: 1px;
        transition: all 0.3s ease-in-out;
        transition-duration: 0.35s;
        opacity: 0;
        background-color: $color-grey-dark-3;
      }

      @include respond(big-desktop) {
      }
      @include respond(normal-desktop) {
      }
      @include respond(small-desktopl) {
      }
      @include respond(tab-land) {
      }
      @include respond(mini-desktop) {
      }
      @include respond(tab-port) {
        width: 100%;
      }
      @include respond(phone) {
      }
      @include respond(phone-small) {
      }
    }
  }

  &__icon {
    display: flex;
    max-width: 70px;
    cursor: pointer;
    flex-flow: column;
    align-self: center;

    & > img {
      cursor: pointer;
      // display: flex;
      // max-width: 70px;
      // vertical-align: middle;
    }
  }
}
