.popup {
  @include absltCenter;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 9999;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-grey-dark-2, 0.8);
  }

  &-title {
    text-align: center;
    font-size: 1.7em;
  }
}
.popup-section {
  @include absltCenter;
  background-image: url(../images/contactbh.png);
  padding: 5rem;
  &__container {
    position: relative;
    &-close {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }
  @include respond(big-desktop) {
  }
  @include respond(normal-desktop) {
  }
  @include respond(small-desktopl) {
  }
  @include respond(tab-land) {
  }
  @include respond(mini-desktop) {
  }
  @include respond(tab-port) {
    width: 95%;
  }
  @include respond(phone) {
  }
  @include respond(phone-small) {
  }
}
.popup__form {
  display: flex;
  flex-direction: column;

  &-input {
    @include inputBasic;

    width: 70%;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
  }

  &-submit {
    @include inputBasic;

    width: 70%;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
    background: $color-grey-dark-3;
    color: $color-white;
  }
}
.popup-show {
  top: 50%;
  opacity: 1;
}
