.popup {
  @include absltCenter;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-grey-dark-2, 0.8);
  }
  z-index: 9999;
}
.popup-section {
  @include absltCenter;
  background-image: url(../../images/contactbh.png);
  padding: 5rem;
  &__container {
    position: relative;
    &-close {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }
}
.popup__form {
  display: flex;
  flex-direction: column;

  &-input {
    @include inputBasic;

    width: 70%;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
  }

  &-submit {
    @include inputBasic;

    width: 70%;
    margin: 0.5rem auto;
    padding: 1rem 2rem;
    background: $color-grey-dark-3;
    color: $color-white;
  }
}
.popup-show {
  top: 50%;
  opacity: 1;
}
