// @keyframes border-flicker {
//   0% {
//     // opacity: 0.1;

//     filter: drop-shadow(0 0 0.1rem #5ac5d9);
//   }
//   2% {
//     // opacity: 1;
//     filter: drop-shadow(0 0 1rem #5ac5d9);
//   }
//   4% {
//     // opacity: 0.1;
//     filter: drop-shadow(0 0 0.1rem #5ac5d9);
//   }

//   8% {
//     // opacity: 1;
//     filter: drop-shadow(0 0 1rem #5ac5d9);
//   }
//   70% {
//     // opacity: 0.7;
//     filter: drop-shadow(0 0 0.35rem #5ac5d9);
//   }
//   100% {
//     // opacity: 1;
//     filter: drop-shadow(0 0 1rem #5ac5d9);
//   }
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  90% {
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  90% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  90% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shake {
  0%,
  3.57143%,
  7.14286%,
  10.71429% {
    transform: translate(0, 0);
  }
  1.78571%,
  5.35714%,
  8.92857% {
    transform: translate(5px, 0);
  }
  // 3.57143%,
  // 7.14286% {
  //   transform: translate(0, 0);
  // }

  100% {
    transform: translate(0, 0);
  }
}
