@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&amp;display=swap);
@import url(../fonts/Rubik-Bold.ttf);
@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik-Bold.ttf');
  font-display: swap;

}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https:;//fonts.googleapis.com/css2?family=Rubik:wght@300&amp;display=swap)
}
$roboto-slab: 'rubik', cursive;

// *{
//   font-family: 'Rubik';
// }
body {
  font-family: $roboto-slab;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
}

.blue-text {
  color: $color-primary;
}
.orange-text {
  color: $color-secondary;
}
.bold {
  font-weight: bold;
  font-family: 'Rubik-Bold';
}

.blueBG {
  background: #0052e7;
  color: white;
  border-radius: 10px;
  padding: 0.5% 0.5% 0.8% 0;
  margin-left: 0.5%;
}
.mobile-margin-top{
&::before {
  content: '\A';
  white-space: pre;
}

@include respond(tab-port) {
  white-space: pre-line;
}

}